body{
    background-color: #ffffff;
    width: 375px;
    margin: 0 auto;
}
.icon{
    width: 150px;
    margin: 20px auto 38px auto;
}
.text_title{
    height: 40px;
    margin: 0 auto 20px auto;
}
.text{
    width: 280px;
    margin: 0 auto;
}
.text_2{
    margin-top: 42px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 9px;
}
.detail{
    margin: 0px 10px;
}
.text_img{
    height: 50px;
    width: auto;
    margin: 70px auto 20px auto;
}
.before_text,.after_text{
    margin: 8px 0 50px 0;
    font-size: 25px;
    text-align: center;
    line-height: 25px;
    color: #333333;
}
.detail_img{
    border-radius: 20px;
}
.wc_before_image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 0px;
}
.wc_bimg{
    width: 167px;
    height: 223px;
}
.wc_after{
    margin-top: 22px;
}
.after_image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.after_left{
    display: flex;
    align-items: center;
}
.aimg1{
    width: 151px;
    height: 201px;
}
.aimg2,.aimg3{
    width: 190px;
    height: 143px;
}
.aimg2{
    margin-bottom: 19px;
}
.crypto_image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.crypto_bimg{
    width: 174px;
    height: 232px;
}
.crypto_aimg1,.crypto_aimg2{
    width: 109px;
    height: 145px;
}
.crypto_after_image{
    width: 168px;
    height: 232px;
    position: relative;
}
.crypto_aimg1{
    position: absolute;
}
.crypto_aimg2{
    position: absolute;
    left: 65px;
    top: 87px;
}
.bc_title{
    font-size: 37px;
}
.other,.other_name{
    font-size: 37px;
    text-align: center;
    line-height: 37px;
    color: #333333;
}
.other{
    margin-top: 100px;
}
.other_name{
    font-weight:normal ;
    margin: 70px 0 20px 0;
}
.tandeki{
    font-size: 29px;
}

.info{
    margin-top: 62px;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
}